body {
	font-family: Futura, Helvetica, Arial, sans-serif;
	text-align: center;
}

.left {
	background-color: aquamarine;
	position: fixed;
	width: 50%;
	height: 100%;
	top: 0;
	left: 0;
}

.right {
	background-color: aliceblue;
	position: fixed;
	width: 50%;
	height: 100%;
	top: 0;
	right: 0;
}

.rocket {
	background-image: url(../img/rocket.png);
	position: absolute;
	bottom: 20px;
	left: 50%;
	margin-left: -64px;
	/*background-color: blue;*/
	width: 128px;
	height: 256px;
	transition: 5s bottom ease-in-out;
}

body.state3 .rocket,
body.state4 .rocket {
	background-image: url(../img/rocket_start.png);
	bottom: 1000px;
}

body.state4 .rocket {
	background-image: url(../img/rocket_go.png);
}

body.state5 .rocket {
	margin-left: -128px;
	width: 256px;
	background-image: url(../img/rocket_boom.png);
}

body.state1 .rocket {
	transition: none;
}

.button {
	display: inline-block;
	padding: 1em 2em;
	background-color: #eee;
	border-radius: 5px;
	text-decoration: none;
	color: gray;
	transition: color 500ms;
}

.button:hover {
	color: red;
}

.ground {
	position: absolute;
	/*background-color: green;*/
	bottom: 40px;
	left: 0;
	width: 100%;
	height: 32px;
	background-image: url(../img/ground.png);
}

div[class^=state] {
	display: none;
}

body.state1 .state1 {display: block;}
body.state2 .state2 {display: block;}
body.state3 .state3 {display: block;}
body.state4 .state4 {display: block;}
body.state5 .state5 {display: block;}